@use 'sass:list';
@use './variables' as *;

$cellWidth: 30px;

// NEW
.wrapper {
   padding: 16px;
}
.new-board-container {
   position: relative;

   &__title {
      text-align: center;
      text-transform: capitalize;
      font-size: 2rem;
      margin-bottom: 1.8rem;
   }
}
.new-board-container--opponent {
   margin-top: 32px;
   display: none;
}
.new-board {
   font-size: 2rem;
   font-weight: bold;
   text-transform: uppercase;
   color: $black;
   display: grid;
   grid-template-columns: repeat(11, 30px);
   grid-template-rows: repeat(11, 30px);
   justify-items: center;
   justify-content: center;
   margin: 0 auto;

   &__cell {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: background-color 125ms ease-in-out;
   }
   &__cell--empty {
      grid-column: 1;
      grid-row: 1;
   }
   &__cell--letter {
      grid-row: 1;
   }
   &__cell--number {
      grid-column: 1;
   }
   &__cell--ship {
      font-family: 'Roboto Mono', monospace;
      font-size: 1.6rem;
      font-weight: normal;
      background-color: $white;
      &:hover {
         background-color: $blue;
      }
   }
   &__ship-cells-subgrid {
      background-color: $blue;
      padding: 2px;
      grid-column: 2 / -1;
      grid-row: 2 / -1;
      display: grid;
      grid-template-columns: repeat(10, 27.8px);
      grid-template-rows: repeat(10, 27.8px);
      gap: 2px;
   }
}
.buttons-container {
   text-align: center;
   font-size: 1.6rem;
   margin: 30px 0;
   padding: 30px 16px;
   border-top: 3px dashed $blue;

   &__text {
      font-size: 1.6rem;
      margin-bottom: 24px;
   }
}
.new-button {
   font-weight: bold;
   display: inline-block;
   margin-bottom: 24px;
   border: 2px solid $blue;
   padding: 6px 12px;
   border-radius: 100px;
   position: relative;
   overflow: hidden;
   box-shadow: 0 5px 5px #00000052;
   transition: box-shadow 250ms ease-in-out;

   &::before {
      content: '';
      display: block;
      background-color: $blue;
      width: 0%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: width 250ms ease-in-out;
   }
   &:hover {
      box-shadow: 0 5px 5px #00000013;

      &::before {
         width: 100%;
      }
   }
   &__button--active {
      &::before {
         width: 100%;
      }
   }
}
.new-button--start-game {
   display: none;
}
.mr {
   margin-right: 24px;
}
// OLD
.board {
   //font-size: 18px;
   display: grid;
   grid-template-columns: $cellWidth auto;
   justify-content: center;
}
.board__letters-container {
   display: grid;
   gap: 3px;
   grid-template-columns: repeat(10, $cellWidth);
   grid-auto-rows: $cellWidth;
   grid-column: 2;
   grid-row: 1;
   .board__cell {
      border: none;

      @for $i from 1 through 10 {
         &:nth-child(#{$i})::before {
            content: '#{$i}'; 
         }
      }
   }
}
.board__digits-container {
   display: grid;
   gap: 3px;
   grid-template-columns: $cellWidth;
   grid-auto-rows: $cellWidth;
   grid-column: 1;
   grid-row: 2;
   .board__cell {
      border: none;

      $letters: 'a','b','c','d','e','f','g','h','i','j';

      @for $i from 1 through 10 {
         &:nth-child(#{$i})::before {
            content: '#{list.nth($letters, $i)}'; 
         }
      }
   }
}
.board__cell {
   background-color: black;
   color: $green;
   border: 1px solid $green;
   display: flex;
   justify-content: center;
   align-items: center;
}
.board__board {
   grid-row: 2;
   display: grid;
   gap: 3px;
   grid-template-columns: repeat(10, $cellWidth);
   grid-auto-rows: $cellWidth;
   .board__cell {
      &:hover {
         background-color: $green;
         color: black;
      }
   }
}
#error-message {
   font-size: 1rem;
   text-align: center;
   max-width: 500px;
   grid-column: 1 / -1;
   margin-top: 1rem;
   margin-left: auto;
   margin-right: auto;
   padding: 0 1rem;
}
#cpu-board-container {
   display: none;
   margin-top: 2rem;
}
.player-buttons {
   ul {
      text-align: center;
      margin: 2rem 0;
   }
   ul li {
      display: inline-block;
      margin-bottom: .5rem;
   }
}
.ships-table {
   font-size: 1rem;
   border: 1px solid $green;
   margin-bottom: 2rem;
   margin-left: auto;
   margin-right: auto;

   td, th {
      padding: .5rem;
      border: 1px solid $green;
   }
}
#start-button {
   visibility: hidden;
}
.reset-container {
   font-size: 1,5rem;
   text-align: center;
   margin: 3rem 0;
   p {
      margin-bottom: 1rem;
   }
}
