@media only screen and (min-width: 800px) {
   .player-board {
      max-width: 1200px;
      margin: 0 auto;
      display: grid;
      column-gap: 1rem;
      grid-template-columns: repeat(3, 1fr);
      h1 {
         grid-column: 1 / -1;
         grid-row: 1;
      }
      .board {
         grid-column: 2 / 3;
         grid-row: 2;
      }
      .player-buttons {
         grid-column: 3 / 4;
         grid-row: 2;
      }
   }
   .player-buttons {
      ul {
         margin: 0;
         margin-bottom: 2rem;
      }
      ul li {
         display: block;
      }
      .button {
         display: block;
         width: 100%;
      }
   }
}
@media only screen and (min-width: 1100px) {
   .instructions {
      margin: 0;
      max-width: 280px;
      position: fixed;
      bottom: 16px;
      left: 16px;
   }
}